.howItWorksSection {
    background: #101010;
    color: whitesmoke;
    padding: 3em 0;
}
.howItWorksContainer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
    justify-content: space-around;
}

.howItWorksButtons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 0 0 40%;
}

.howItWorkImage > img {
    width: 500px;
    height: 400px;
}
.howItWorksContainer article {
    cursor: pointer;
    border: 5px solid rgb(55, 55, 55);
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    padding: 1em;
    text-align: left;
}
.howItWorksContainer article > p {
    color: rgb(139, 139, 139);
}

@media (min-width: 800px) {
    .howItWorksContainer {
        flex-direction: row;
    }
}
