.card {
    display: flex;
    justify-content: center;
    background-color: whitesmoke;
    box-shadow: 0 0 10px 0px rgba(11, 11, 11, 0.1);
    padding: 2em;
    border-radius: 5px;
    width: 300px;
    height: 450px;
}
.cardContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.card img {
    width: 250px;
    height: auto;
}

.description {
    color: #606060;
}
.cardInfo {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.cardInfo button {
    padding: 5px 10px;
    background-color: whitesmoke;
    border: 1px solid black;
    border-radius: 5px;
}
