.heroSection {
    height: 70vh;
    display: flex;
    flex-direction: column;
    background-image: url("../../assets/herobckgrn.png");
    background-size: cover;
    gap: 1.5em;
    align-items: center;
    justify-content: center;
    color: white;
}
.mainHeading h1 {
    font-size: 3em;
    text-shadow: black 1px 0 10px;
}
.mainHeading h3 {
    color: darkorange;
}
.catalogBtn {
    font-size: 1.2em;
    padding: 10px 30px;
    border-radius: 3px;
    background-color: darkorange;
    cursor: pointer;
    box-shadow: 0 0 10px 0 darkorange;
}
.catalogBtn:hover {
    box-shadow: 0 0 15px 0 darkorange;
}

.whyUsSection {
    background-color: rgb(26, 26, 26);
    display: flex;
    justify-content: center;
    gap: 2em;
    padding: 3em 1em;
}
.whyUsCard {
    display: flex;
    flex-direction: column;
    gap: 1em;
    background-color: rgb(39, 39, 39);
    color: whitesmoke;
    padding: 1.5em;
    flex: 0 0 20%;
    border-radius: 3px;
}
.whyUsCard > p {
    color: rgb(139, 139, 139);
}
.howItWorksSection {
    background: #101010;
    color: whitesmoke;
    padding: 3em 0;
}
.howItWorksContainer {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.howItWorksButtons {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 0 0 40%;
}
.howItWorksImage {
    flex: 0 0 60%;
}
.howItWorksContainer article {
    border: 5px solid rgb(55, 55, 55);
    background-color: rgb(39, 39, 39);
    border-radius: 5px;
    padding: 1em;
    text-align: left;
}
.howItWorksContainer article > p {
    color: rgb(139, 139, 139);
}
