.header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
    box-shadow: 0 0px 10px 2px #0000005c;
}
.navMenu ul {
    display: flex;
    gap: 3em;
}
