.header {
    background-color: #333;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 1em;
}
.navMenu ul {
    display: flex;
    gap: 3em;
}
